CONFIG_FEED_ddmesh_own=y
CONFIG_FEED_packages=y
CONFIG_FEED_routing=y
CONFIG_IMAGEOPT=y
CONFIG_PER_FEED_REPO=y

# target image configs
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=256
CONFIG_TARGET_ROOTFS_TARGZ=y

# CONFIG_VERSION_FILENAMES is not set
# -- per device rootfs MUST BE SET BEFORE selecting it in menuconfig
#    else this option is not applied, as all packages are already added via '*'
#    instead of 'M'. See comment on this option in menuconfig menu
# BUT: for some devices modules gets selected (PPP, wpad-basic-wolfssl,...)
# So I CAN NOT add this here !!!!
# CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_MULTI_PROFILE=y

# IMPORTANT: else ubnt-edge router will crash
CONFIG_KERNEL_SECCOMP=y

CONFIG_PREINITOPT=y
CONFIG_TARGET_PREINIT_IP="192.168.222.1"
CONFIG_TARGET_PREINIT_NETMASK="255.255.255.0"
CONFIG_TARGET_PREINIT_BROADCAST="192.168.222.255"

# helps during developments (e.g. LTE sticks)
CONFIG_KERNEL_DEBUG_FS=y
# enable "Advanced configuration options (for developers)" options
CONFIG_DEVEL=y
CONFIG_CCACHE=y
# remove opkg package infos from image
CONFIG_CLEAN_IPKG=y

# ------- not needed kernel stuff -----
# CONFIG_REPRODUCIBLE_DEBUG_INFO is not set
# CONFIG_COLLECT_KERNEL_DEBUG is not set
# CONFIG_ALL_NONSHARED is not set
# CONFIG_ALL_KMODS is not set
# CONFIG_KERNEL_CRASHLOG is not set
# CONFIG_KERNEL_SWAP is not set
# CONFIG_KERNEL_KALLSYMS is not set
# CONFIG_KERNEL_DEBUG_KERNEL is not set
# CONFIG_KERNEL_DEBUG_INFO is not set
# CONFIG_KERNEL_COREDUMP is not set
# CONFIG_KERNEL_AIO is not set
# CONFIG_KERNEL_FHANDLE is not set
# CONFIG_KERNEL_FANOTIFY is not set
# CONFIG_KERNEL_MAGIC_SYSRQ is not set
# CONFIG_KERNEL_ELF_CORE is not set
# CONFIG_KERNEL_KEYS is not set
# CONFIG_KERNEL_CGROUPS is not set
# CONFIG_KERNEL_NAMESPACES is not set

# ------- busybox --------------
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TIMEOUT=y
CONFIG_BUSYBOX_CONFIG_CHPASSWD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_PASSWD_WEAK_CHECK=y
# CONFIG_BUSYBOX_DEFAULT_FEATURE_IPV6 is not set
CONFIG_BUSYBOX_CONFIG_PSTREE=y

# ------- ath stuff -------------
CONFIG_ATH_USER_REGD=y
# CONFIG_PACKAGE_ATH_DEBUG is not set
CONFIG_PACKAGE_ATH_DFS=y
CONFIG_PACKAGE_ATH_DYNACK=y

# ------- disable ipv6 ----------
# CONFIG_IPV6 is not set
# CONFIG_KERNEL_IPV6 is not set
# CONFIG_PACKAGE_kmod-nf-ipt6 is not set
# CONFIG_PACKAGE_libip6tc is not set
# CONFIG_PACKAGE_libiptext6 is not set

# ------- disable some unused (new netfilter) stuff ----
# it has still some ipv6 dependencies and is not yet used by netifd/firewall
#
# CONFIG_IPTABLES_NFTABLES is not set
# CONFIG_PACKAGE_kmod-nft-core is not set
# CONFIG_PACKAGE_kmod-nft-fib is not set
# CONFIG_PACKAGE_kmod-nft-nat is not set
# CONFIG_PACKAGE_nftables-json is not set
# CONFIG_PACKAGE_jansson is not set
# CONFIG_PACKAGE_kmod-nfnetlink is not set

# ------- disable ppp -----------
# CONFIG_PACKAGE_kmod-ppp is not set
# CONFIG_PACKAGE_ppp is not set

# ------- disable wolfssl -------
# CONFIG_PACKAGE_libustream-wolfssl is not set
# CONFIG_PACKAGE_libwolfssl is not set
# CONFIG_WPA_WOLFSSL is not set
# CONFIG_PACKAGE_wpad-basic-wolfssl is not set

# ------- disable dsl (lantiq)-----
# CONFIG_PACKAGE_ltq-adsl-app is not set
# CONFIG_PACKAGE_ltq-dsl-base is not set
# CONFIG_PACKAGE_kmod-ltq-adsl-ar9 is not set
# CONFIG_PACKAGE_kmod-ltq-adsl-ar9-fw-b is not set
# CONFIG_PACKAGE_kmod-ltq-adsl-ar9-mei is not set
# CONFIG_PACKAGE_kmod-ltq-adsl-danube is not set
# CONFIG_PACKAGE_kmod-ltq-adsl-danube-fw-b is not set
# CONFIG_PACKAGE_kmod-ltq-adsl-danube-mei is not set
# CONFIG_PACKAGE_kmod-ltq-atm-ar9 is not set
# CONFIG_PACKAGE_kmod-ltq-atm-danube is not set
# CONFIG_PACKAGE_ltq-dsl-base is not set
# CONFIG_PACKAGE_ltq-vdsl-app is not set
# CONFIG_PACKAGE_dsl-vrx200-firmware-xdsl-a is not set
# CONFIG_PACKAGE_dsl-vrx200-firmware-xdsl-b-patch is not set
# CONFIG_PACKAGE_kmod-ltq-vdsl-vr9 is not set
# CONFIG_PACKAGE_kmod-ltq-vdsl-vr9-mei is not set
# CONFIG_PACKAGE_ltq-vdsl-vr9-vectoring-fw-installer is not set
# CONFIG_PACKAGE_kmod-ltq-ptm-vr9 is not set
# CONFIG_PACKAGE_kmod-ltq-atm-vr9 is not set
