
config sensors 'sensors'
	option url 'https://www.madavi.de/sensor/images/sensor-esp8266'
	option id '3402354'
	list entries 'sds011-1 day'
	list entries 'dht-1 day'
	list entries 'sds011-25 day'
	list entries 'dht-25 day'

config gui 'gui'	
	list sensors 'sds011-1 PM10'
	list sensors 'sds011-25 PM2.5'
	list sensors 'dht-1 DHT Temperatur'
	list sensors 'dht-25 DHT Luftfeuchte'
	list sensors 'bme280-1 BME280 Temperatur'
	list sensors 'bme280-25 BME280 Luftfeuchte'
	list sensors 'bme280-3 BME280 Luftdruck'
	list periods 'day Tag'
	list periods 'week Woche'
	list periods 'month Monat'
	list periods 'year Jahr'
	list periods 'floating Floating (7Tage)'

